<footer>
  <div class="footer-wrapper">
      <section class="contact-container">
        <h2 id="contact" class="contact-title">    <small>&copy; Copyright 2020 Shuffle Team.All Rights Reserved</small>
        </h2>
        <div class="social-container">
          <ul class="social-icons">
              <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
              </a></li>
              <li><a id="profile-link" href="https://github.com" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
          </ul>
          
      </div>
      </section>
      
      </div>
  </footer>